.container-products{
    display: flex;
    align-content: space-between;  
}

button{
    padding: 10px;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: #86E5FF;
}

button:hover{
    background-color: orange;
}


